@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-number-input input[type="number"]::-webkit-inner-spin-button,
.custom-number-input input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.custom-number-input input[type="number"] {
    -moz-appearance: textfield;
}
